# -----------------------------
# Visual Studio / .NET
# -----------------------------
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
# -----------------------------
# Build output (NEVER COMMIT)
# -----------------------------
**/bin/
**/obj/
# -----------------------------
# Logs
# -----------------------------
*.log
# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
# -----------------------------
# Sensitive config (DO NOT PUSH)
# -----------------------------
**/appsettings.json
**/appsettings.Development.json
# -----------------------------
# IDEs
# -----------------------------.
.vscode/
.idea/
# -----------------------------
# Optional
# -----------------------------*.db
*.db

 